:root {
    --hover1: #939BF4;
    --hover2: #cbcbcb;
}

/* dashboard background, theme toggle */
.check.active {
    justify-content: flex-end;
}

.check:hover .check-toggle {
    background-color: var(--hover1) !important;
}

.dashboard-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

@media only screen and (max-width: 1600px) {
    .dashboard-bg {
        background-image: url('../../public/assets/desktop/bg-pattern-header.svg');
    }
}
@media only screen and (max-width: 768px) {
    .dashboard-bg {
        background-image: url('../../public/assets/tablet/bg-pattern-header.svg');
    }
}
@media only screen and (max-width: 640px) {
    .dashboard-bg {
        background-image: url('../../public/assets/mobile/bg-pattern-header.svg');
        background-size: auto;
    }
}

/* seach and filter */
.fulltime-only-checkbox:hover {
    background-color: var(--hover2) !important;
}

.search-btn:hover {
    background-color: var(--hover1) !important;
}


/* job specs role section */
._custom-role-list {
    list-style: none !important;
    list-style-position: outside !important;
    counter-reset: custom-counter;
}

._custom-role-list li:before {
    content: counter(custom-counter);
    counter-increment: custom-counter;
    margin-right: 1.75rem;
    text-indent: -1.5em;
}
