:root {
    --hover1: #a6acf3;
    --hover2: #cbcbcb;
    --hover3: #6e747c;
    --primary: #5964E0;
}

/* dashboard background, theme toggler */
.check-toggle { 
    transition-duration: 400ms;
    transition-timing-function: ease;
    transition-property: transform;
}

.check.active .check-toggle {
    transform: translateX(150%);
}

.check:hover .check-toggle {
    background-color: var(--hover1) !important;
}
/**/

/* dashboard background image */
.dashboard-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

@media only screen and (max-width: 1600px) {
    .dashboard-bg {
        background-image: url('../../public/assets/desktop/bg-pattern-header.svg');
    }
}

@media only screen and (max-width: 768px) {
    .dashboard-bg {
        background-image: url('../../public/assets/tablet/bg-pattern-header.svg');
    }
}

@media only screen and (max-width: 640px) {
    .dashboard-bg {
        background-image: url('../../public/assets/mobile/bg-pattern-header.svg');
        background-size: auto;
    }
}
/**/

/* seach and filter */
.fulltime-only-checkbox:hover {
    background-color: var(--hover2) !important;
}

/* buttons */
.search-btn:hover,
.primary-btn:hover,
._company-site-btn:hover {
    background-color: var(--hover1) !important;
}

._company-site-btn-dark:hover {
    background-color: var(--hover3) !important;
}
/**/

/* custom ordered list items for job specifications in job specs */
._custom-role-list {
    counter-reset: custom-counter;
}

.custom-role-list-number::before {
    content: counter(custom-counter);
    counter-increment: custom-counter;
    margin-right: 1.75rem;
    font-weight: bold;
}
/**/

._job-position:hover {
    color: var(--hover3) !important;
}
